[user]
    name = Sebastian Sjöberg
    email = ss69109@gmail.com

[init]
    defaultBranch = main

[pull]
    rebase = true

[rebase]
    autoStash = true

[core]
    editor = code --wait
    autocrlf = input
    pager = less -FRX

[push]
    autoSetupRemote = true
    default = current

[fetch]
    prune = true

[merge]
    conflictstyle = zdiff3

[diff]
    colorMoved = default

[alias]
    st = status
    co = checkout
    sw = switch
    br = branch
    ci = commit
    amend = commit --amend
    last = log -1 HEAD

    lg = log --graph --decorate --oneline --all

    unstage = restore --staged
    discard = restore

    pf = push --force-with-lease

    aa = add .
    cm = commit -m