[include]
    path = ~/.gitconfig.local

[diff]
    colorMoved = default

[rebase]
    autoStash = true

[fetch]
    prune = false

[init]
    defaultBranch = main

[push]
    autoSetupRemote = true
    default = current

[alias]
    st = status
    co = checkout
    sw = switch
    br = branch
    ci = commit
    amend = commit --amend
    last = log -1 HEAD
    lg = log --graph --decorate --oneline --all
    unstage = restore --staged
    discard = restore
    pf = push --force-with-lease
    aa = add .
    cm = commit -m

[core]
    editor = code --wait
    autocrlf = input
    pager = less -FRX

[merge]
    conflictstyle = zdiff3
